<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZrpvL1OJ6iH-O2oQabcQ9KZ1Vo0IB0as</string>
	<key>GCM_SENDER_ID</key>
	<string>946644162201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kirill.iosApp</string>
	<key>PROJECT_ID</key>
	<string>kotlinsemeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kotlinsemeapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946644162201:ios:bf335a235301688f5e0a08</string>
</dict>
</plist>